
@{
    ViewBag.Title = "SignUp";
}

<h2>Create</h2>
@using (Html.BeginForm(actionName: "SignUp", controllerName: "User", FormMethod.Post))
{ 
    


}
<p>標題：</p>
<p>內容：</p>
<p>發布日期：</p>
<input type="submit"  value="create" />